@using Sitecore.Mvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <p style="text-align: left">This is Left Layout</p>
    @Html.Sitecore().Placeholder("main")
</body>
</html>
