@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="text-align: left">This is Left paragraph</p>
    </div>
</body>
</html>
